body{
    font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-variant: small-caps;
}

li {
  float: left;
}

li a {
  display: block;
  /*color:rgb(152, 140, 140);*/
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 2px;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
  color: rgb(214, 32, 32);
}
*/
#navbar{
    width: 100%;
}

#item1 a:hover{
    color: #4C8BF5;
}
#item2 a:hover{
    color: #1AA260;
}
#item3 a:hover{
    color: #FFCE44;
}
#item4 a:hover{
    color: #DE5246;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: 'Montserrat', sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}

#icons {
    width: 300px;
    float: right;
    margin-right: -5vw;
}

#icons ul li{
    padding: 5px;
    z-index: 1;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 95%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  text-align: center;
  padding: 10px;
}

.i1{
    grid-column: 1;
    grid-row: 1;
}

.i2{
    grid-column: 2;
    grid-row: 1;
}

.i3{
    grid-column: 3;
    grid-row: 1;
}
