html{
    background-color: rgb(250, 250, 255);
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 35vh;
    margin-left: 20vw;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 30vw;
}

#greeting-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-variant: small-caps;
}

li {
  float: left;
}

li a {
  display: block;
  /*color:rgb(152, 140, 140);*/
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 2px;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
  color: rgb(214, 32, 32);
}
*/
#navbar{
    width: 100%;
}

hr {
    background: gray;
    height: 1px;
    border: none;
    width: 300%;
    margin-right: 300px;
}

#item1 a:hover{
    color: #4C8BF5;
}
#item2 a:hover{
    color: #1AA260;
}
#item3 a:hover{
    color: #FFCE44;
}
#item4 a:hover{
    color: #DE5246;
}

#icons {
    width: 300px;
    float: right;
    margin-right: -5vw;
}

#icons ul li{
    padding: 5px;
    z-index: 1;
}
/*
rgb(30, 82, 243)
*/

#mypic{
    float: right;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.25;
}

#footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    margin-top: 21vh;
    height: 11em;
}

#contact{
    margin-left: 5em;
}

#info{
    float: left;
    padding: 5px;
    margin-top: 1.5vh;
}

#submit-button{
    float: right;
}

input[type=submit] {
    width: 10vw;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: 7vh;
    margin-top: 10vh;
}